/* Styles for the container and images */
.container {
    overflow: hidden;
  }
  
  #sectionPin {
    position: relative;
    
  }
  
  .pin-wrap {
    display: flex;
    width: fit-content; /* The width will be defined by its content */
    margin-top: 27.109px;
  }
  
  .image-box {
    min-width: 100vw; /* Ensure each image takes up the full viewport width */
    height: 100vh; /* Full viewport height */
  }
  
  
  
  .bg-1{
    background-image: url("/props1.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    height: 321.562px;
    width: 321.562px;
    background-size: cover;
    
  }
  .bg-2{
    background-image: url("/props2.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    height: 321.562px;
    width: 321.562px;
    background-size: cover;
    margin-left: 30px;
  }
  .bg-3{
    background-image: url("/props4.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    height: 321.562px;
    width: 321.562px;
    background-size: cover;
    margin-left: 30px;
  }
  .bg-4{
    border-radius: 30px;
    background-repeat: no-repeat;
    height: 321.562px;
    width: 321.562px;
    background-size: cover;
    margin-left: 30px;
  }