@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .rounded-card {
    @apply w-full min-h-[17.87rem] 
      rounded-[2rem] overflow-hidden flex flex-row p-[.5rem];
  }
  .blue-pin {
    @apply w-[1.39em] h-[1.39em] absolute rounded-full 
     ;
  }
  .mask-container {
    @apply w-[100%] h-screen overflow-hidden absolute top-0;
  }
  .slide-cards {
    @apply relative;
  }
  .car-nav-long {
    @apply pointer-events-none	w-[1.88rem] h-[.25rem] rounded-[10rem] bg-white-100;
  }
  .car-nav-short {
    @apply pointer-events-none	w-[1.38rem] h-[.25rem] rounded-[10rem] bg-white-100 mb-[.3em];
  }

  .roomies-col {
    @apply h-[12.3rem] justify-between content-center flex flex-col w-[9.9rem] text-center;
  }
  .interest-tube {
    @apply relative shadow-tube w-[9.13rem] h-[1.71rem] rounded-full;
  }
  .int-percentage {
    @apply absolute w-[75%] h-full bg-green-200 border-2 border-green-550 rounded-full;
  }
  .per-number {
    @apply absolute top-[50%] text-sm25 translate-y-[-50%] right-[.7rem];
  }
  .interest-name {
    @apply absolute top-[50%] capitalize text-[.63rem] translate-y-[-50%] left-[.9rem];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  font-size: calc(0.95rem + 1vw);
}
/* body{
  font-family: __Poppins_da1309, __Poppins_Fallback_da1309;
} */
.tilt-text {
  perspective: 1000px;
}
.handwritten-text{
  font-family: BiroScriptPlus;
  /* color:pink; */
}
.featured-cards-container {
  perspective: 100px;
}
.card-opacity {
  pointer-events: none;
}

.feature-carousel::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 1.5rem;
  z-index: -1;
}

.blue-pin{
  position: absolute;
  height: 1.39rem;
  width:1.39rem;
  border-radius: 9999px;
  background-image: radial-gradient(circle, #fff .26rem, #00000099 0);
}

.snap-center {
  scroll-snap-align: center;
}

.flex-shrink-0, .shrink-0 {
  flex-shrink: 0;
}

.text-sm20 {
  font-size: .5rem;
  line-height: 1.3;
}

.text-regular45 {
  font-size: 1.14rem;
  line-height: 1.3;
}

.text-regular30 {
  font-size: .759rem;
  line-height: 1.5;
}

.text-regular75 {
  font-size: 1.9rem;
  line-height: 1.26;
}

.bg-white-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.flex-shrink-0, .shrink-0 {
  flex-shrink: 0;
}

.px-mobile {
  padding-left: calc(100vw / 18.75);
  padding-right: calc(100vw / 18.75);
}

.bg-image1{
  background-image: url("/props1.jpg");
  scale: 1;
}

.bg-image1:hover{
  background-image: url("/props1.jpg");
  scale: 1.2;
  transition: all linear 1.3s;
}

.bg-image2{
  background-image: url("/props2.jpg");
  scale: 1;
}

.bg-image2:hover{
  background-image: url("/props2.jpg");
  scale: 1.2;
  transition: all linear 1.3s;
}

.bg-image3{
  background-image: url("/props4.jpg");
  scale: 1;
}

.bg-image3:hover{
  background-image: url("/props4.jpg");
  scale: 1.2;
  transition: all linear 1.3s;
}