.btn1 {
    width: 150px;
    height: 50px;
    color: #000000;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    /* box-shadow: 0 15px 30px rgba(255, 255, 255, 0.5); */
    overflow: hidden;
  }
  
  .btn1 span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn1:hover .btn-text-one {
    top: -100%;
  }
  
  .btn1:hover .btn-text-two {
    top: 50%;
  }
   
  /* swiper */

  #app {
    height: 100%;
  }

  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  